@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #FDFBEE;
    color: #015551;
}

.title-enfasis {
    color: #57B4BA;
}

.presentation {
    margin: 10vw 13vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.presentation__image {
    border-radius: .5vh;
    height: 20vh;
    order: 1;
}

.presentation__content {
    width: 95vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    order: 2
}

.presentation__content__title {
    font-size: large;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.presentation__content__paragraph {
    font-size: medium;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.presentation__links {
    display: flex;
    justify-content: space-between;
}

.presentation__links__link {
    background-color: #FE4F2D;
    color: #FDFBEE;
    width: 30vw;
    text-align: center;
    border-radius: 0.2vh;
    font-size: medium;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding: .2vh 0;
    text-decoration: none;
}
